<!DOCTYPE html>
<html>
    <head></head>
    <body data-ng-app="myApp">
        <div class="row">

            <div class="row">

                <!-- pie chart-->
                <div class="col-lg-5">
                    <div id="ticketClassificationController" ng-controller="ticketClassificationController">
                        <div class="panel panel-default">
                            <div id="ticketClassification" class="panel-body"></div>
                        </div>
                    </div>
                </div>
                <!-- end pie chart-->


                <div class="col-lg-7"  ng-controller="guageController">

                    <div class="row">
                        <div id="realTimeGuageController" ng-controller="realTimeGuageController">

                            <table class="table table-bordered">
                                <tr> 
                                    <td>
                                        <div id="systemStatsSnapshotRealTime">
                                        </div>
                                    </td>

                                    <td>
                                        <div id="responseRateRealTime" class="text-center"></div>
                                    </td>
                                    <td>

                                        <div id="waitingTimeRealTime"></div>
                                    </td>
                                    <td>
                                        <div id="talkingTimeRealTime"></div>
                                    </td>

                                </tr>


                                <tr> 
                                    <td>
                                        <div id="systemStatsSnapshotMovingAverage">
                                        </div>
                                    </td>

                                    <td>
                                        <div id="responseRateMovingAverage"></div>
                                    </td>
                                    <td>

                                        <div id="waitingTimeMovingAverage"></div>
                                    </td>
                                    <td>
                                        <div id="talkingTimeMovingAverage"></div>
                                    </td>

                                </tr>

                            </table>








                        </div>

                    </div>





                </div>

            </div>


            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="movingAverageCallstat" ng-controller="lineChartController">
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div id="realtimeCallstat" ng-controller="realTimelineChartController" style="display:none;">
                </div>
            </div>


        </div>
    </body>
</html>
