#realTimeGuageController table tr td {
    text-align: center;
    padding: 0px;
}

#realTimeGuageController table tr td div:first-child{
    display: inline-block;
}

/* for gauge indicators text */
#realTimeGuageController svg g text {
    font-size: 12px;
    font-style: italic;
}

#systemStatsSnapshotRealTime, #systemStatsSnapshotMovingAverage {
    width: 100%;
}
