#realTimeGuageController table tr td {
    text-align: center;
    padding: 0px;
}
#realTimeGuageControllerUK table tr td {
    text-align: center;
    padding: 0px;
}

#realTimeGuageController table tr td div:first-child{
    display: inline-block;
}
#realTimeGuageControllerUK table tr td div:first-child{
    display: inline-block;
}

/* for gauge indicators text */
#realTimeGuageController svg g text {
    font-size: 12px;
    font-style: italic;
}
#realTimeGuageControllerUK svg g text {
    font-size: 12px;
    font-style: italic;
}

#systemStatsSnapshotRealTime, #systemStatsSnapshotMovingAverage,#systemStatsSnapshotRealTimeUK, #systemStatsSnapshotMovingAverageUK {
    width: 100%;
}


#urgentTicketsController{
    padding-top: 130px;

}

.urgent-wrapper{
-webkit-box-shadow: 2px 5px 47px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 47px -5px rgba(0,0,0,0.75);
box-shadow: 2px 5px 47px -5px rgba(0,0,0,0.75);
}
.urgent-title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.urgent-count{
    text-align: center;
    color: red;
    font-size: 65px;
    font-weight: bold;
}

